/*-------------------------------------------------
SMACSS: BASE
-------------------------------------------------*/
body {
    background: #000;
    color: #ced9e0;
    font-family: $font-OpenSans;
}

a {
    color: $color-gray;
}
a:hover {
    color: #ced9e0;
}
