/*-------------------------------------------------
SMACSS: LAYOUT - COMMON
-------------------------------------------------*/

body {
    background-color: rgb(35, 35, 43);
    font-family: 'proxima_regular';
}

header,
footer {
    max-width: 800px;
    margin: 50px auto;
}


/*NAVBAR */

.navbar-default {
    margin-bottom: 0px;
    background: rgb(247, 247, 247);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(247, 247, 247), rgb(235, 235, 235));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(247, 247, 247), rgb(235, 235, 235));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(247, 247, 247), rgb(235, 235, 235));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(247, 247, 247), rgb(235, 235, 235));
    -webkit-box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.15), 0px 1px 0px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.15), 0px 1px 0px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.15), 0px 1px 0px 0px rgba(0, 0, 0, 0.15);
    .navbar-brand {
        padding-top: 12px;
        float: none;
        margin-left: -5px;
        img {
            display: inline;
        }
    }
}

.navbar-default .navbar-toggle {
    z-index: 1;
    margin-left: 10px;
    border: none;
    .icon-bar {
        background-color: rgb(0, 173, 238);
        -webkit-box-shadow: 0px 1px 8px 0px rgba(255, 255, 255, 0.75);
        -moz-box-shadow: 0px 1px 8px 0px rgba(255, 255, 255, 0.75);
        box-shadow: 0px 1px 8px 0px rgba(255, 255, 255, 0.75);
    }
}


/*TImer*/

.timer-bar {
    .progress {
        margin-bottom: 0px;
        border-radius: 0px;
        font-family: 'proxima_regular';
        background-color: rgb(245, 245, 245);
        -webkit-box-shadow: 0px -1px 0px 0px rgb(255, 255, 255), 0px 1px 0px 0px rgba(0, 0, 0, 0.08);
        -moz-box-shadow: 0px -1px 0px 0px rgb(255, 255, 255), 0px 1px 0px 0px rgba(0, 0, 0, 0.08);
        box-shadow: 0px -1px 0px 0px rgb(255, 255, 255), 0px 1px 0px 0px rgba(0, 0, 0, 0.08);
    }
    .progress-bar {
        -webkit-box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.50), 0px 1px 0px 0px rgba(0, 0, 0, 0.08);
        -moz-box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.50), 0px 1px 0px 0px rgba(0, 0, 0, 0.08);
        box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.50), 0px 1px 0px 0px rgba(0, 0, 0, 0.08);
        background-color: #7ed321;
    }
}

table.time {
    border-spacing: 0;
    width: 100%;
    position: relative;
    top: -20px;
    td:not(.fix) {
        background-image: linear-gradient(to bottom, transparent, transparent 40%, #23232b 40%, #23232b);
        background-image: -webkit-linear-gradient(to bottom, transparent, transparent 40%, #23232b 40%, #23232b);
        background-image: -o-linear-gradient(to bottom, transparent, transparent 40%, #23232b 40%, #23232b);
        background-image: -moz-linear-gradient(to bottom, transparent, transparent 40%, #23232b 40%, #23232b);
    }
    .fix {
        text-align: center;
        width: 150px;
        background-image: url(/images/timerLeft.png), url(/images/timerRight.png);
        background-position: left bottom, right bottom;
        background-repeat: no-repeat, no-repeat;
    }
}

.container.fadein .row {
    opacity: .2;
    pointer-events: none;
}

.container.instructions {
    font-size: 16px;
}

.section-heading {
    color: #67676D;
    font-size: 14px;
    font-family: 'proxima_semibold';
}


/* Tab Button */
.btn-tab-group{
        padding: 5px 10px 10px;

}

.btn-tab {
    color: rgb(255, 255, 255);
    background-color: rgb(35, 35, 43);
    border-color: rgb(255, 255, 255);
    font-size: 16px;
}

.btn-tab:focus,
.btn-tab.focus,
.btn-tab:hover,
.btn-tab:active,
.btn-tab.active {
    color: rgb(35, 35, 43);
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font-family: 'proxima_semibold';
}


/*CEB TABLE */

.table {
    margin-top: 10px;
    thead > tr {
        font-family: 'proxima_semibold';
        background-color: rgba(128, 128, 128, 1);
        th:nth-child(even) {
            background-color: #626267;
            width: 100px;
        }
    }
    tbody > tr:nth-child(odd) {
        background-color: #2E2E35;
        td:nth-child(even) {
            background-color: #38383F;
            width: 100px;
        }
    }
    tbody > tr:nth-child(even) {
        background-color: #43434A;
        td:nth-child(even) {
            background-color: #4D4D53;
        }
    }
    thead > tr > th,
    tbody > tr > th,
    tfoot > tr > th,
    thead > tr > td,
    tbody > tr > td,
    tfoot > tr > td {
        border: none;
        color: #FBFBFB;
    }
}

//Remove border form responsive table wrapper
@media screen and (max-width: 768px) {
    .table-responsive {
        border: none;
    }
}


/* bottom options div */

.white-div {
    width: 100%;
    background-color: white;
    padding: 10px;
    padding-bottom: 50px;
     font-size: 16px;
}

.ceb-question-container {
    margin: 20px auto;
}
.question-heading-group{
    margin: auto -10px;   
}


.ceb-options {
    font-size: 16px;
    height: 60px;
    // width: 25%;
    //margin: 10px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 18px;
    //display: table-cell;
    //vertical-align: middle;
    color: rgb( 0, 173, 238);
    border: 1px solid rgba(0, 0, 0, 0.05);
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(243, 243, 243));
    background: -o-linear-gradient(rgb(255, 255, 255), rgb(243, 243, 243));
    background: -moz-linear-gradient(rgb(255, 255, 255), rgb(243, 243, 243));
    background: linear-gradient(rgb(255, 255, 255), rgb(243, 243, 243));
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.20);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.20);
}

.ceb-options.active {
    color: rgb(255, 255, 255);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb( 0, 200, 243), rgb( 0, 151, 243));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb( 0, 200, 243), rgb( 0, 151, 243));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb( 0, 200, 243), rgb( 0, 151, 243));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb( 0, 200, 243), rgb( 0, 151, 243));
    -webkit-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15), 0px 3px 8px 0px rgba(0, 199, 243, 0.30);
    -moz-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15), 0px 3px 8px 0px rgba(0, 199, 243, 0.30);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15), 0px 3px 8px 0px rgba(0, 199, 243, 0.30);
}

.ceb-options:hover {
    color: rgb(255, 255, 255);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb( 0, 200, 243), rgb( 0, 151, 243));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb( 0, 200, 243), rgb( 0, 151, 243));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb( 0, 200, 243), rgb( 0, 151, 243));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb( 0, 200, 243), rgb( 0, 151, 243));
    -webkit-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15), 0px 3px 8px 0px rgba(0, 199, 243, 0.30);
    -moz-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15), 0px 3px 8px 0px rgba(0, 199, 243, 0.30);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15), 0px 3px 8px 0px rgba(0, 199, 243, 0.30);
}

.options-margin {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.btn-ceb {
    outline: none;
    margin-top: 15px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    height: 44px;
    border-radius: 0px;
    width: 100%;
    color: rgb(255, 255, 255);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb( 0, 200, 243), rgb( 0, 151, 243));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb( 0, 200, 243), rgb( 0, 151, 243));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb( 0, 200, 243), rgb( 0, 151, 243));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb( 0, 200, 243), rgb( 0, 151, 243));
    -webkit-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15), 0px 3px 8px 0px rgba(0, 199, 243, 0.30);
    -moz-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15), 0px 3px 8px 0px rgba(0, 199, 243, 0.30);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15), 0px 3px 8px 0px rgba(0, 199, 243, 0.30);
    .saved-for-later {
        color: rgb( 0, 173, 238);
        border: 1px solid rgba(0, 0, 0, 0.05);
        /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(243, 243, 243));
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(rgb(255, 255, 255), rgb(243, 243, 243));
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(rgb(255, 255, 255), rgb(243, 243, 243));
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(rgb(255, 255, 255), rgb(243, 243, 243));
        /* Standard syntax */
        -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.20);
        -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.20);
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.20);
    }
}

.btn-ceb:active,
.btn-ceb:focus {
    outline: none;
}

.btn-ceb:hover {
    color: rgb(255, 255, 255);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb( 0, 200, 243), rgb( 0, 151, 243));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb( 0, 200, 243), rgb( 0, 151, 243));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb( 0, 200, 243), rgb( 0, 151, 243));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb( 0, 200, 243), rgb( 0, 151, 243));
    -webkit-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15), 0px 3px 8px 0px rgba(0, 199, 243, 0.30);
    -moz-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15), 0px 3px 8px 0px rgba(0, 199, 243, 0.30);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15), 0px 3px 8px 0px rgba(0, 199, 243, 0.30);
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

@media (min-width: 991px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
    }
}

@media (max-width: 991px) {
    .navbar-center {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        text-align: center;
        margin: auto;
        height: 100%;
    }
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
    }
}


/*

radio button css 
*/

input[type=checkbox]:not(old),
input[type=radio]:not(old) {
    display: none;
}

input[type=checkbox]:not(old) + label,
input[type=radio]:not(old) + label {
    height: 22px;
    float: right;
    margin-top: 2px;
    display: inline-block;
    margin-left: -28px;
    padding-left: 28px;
    background: url('/images/answerRadioNormal.png') no-repeat 0 0;
    line-height: 24px;
}

input[type=checkbox]:not(old):checked + label {
    background-position: 0 -24px;
}

input[type=radio]:not(old):checked + label {
    background: url('/images/answerRadioSelected.png') no-repeat 0 0;
}

.ceb-question-progressbar {
    z-index: 100;
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0;
    padding: 10px 15px;
    background: -webkit-linear-gradient(rgb(247, 247, 247), rgb(240, 240, 240));
    background: -o-linear-gradient(rgb(247, 247, 247), rgb(240, 240, 240));
    background: -moz-linear-gradient(rgb(247, 247, 247), rgb(240, 240, 240));
    background: linear-gradient(rgb(247, 247, 247), rgb(240, 240, 240));
    -webkit-box-shadow: 0px -1px 8px 0px rgba(0, 0, 0, 0.15), 0px -1px 0px 0px rgba(0, 0, 0, 0.15), 0px -1px 0px 0px rgb(255, 255, 255);
    -moz-box-shadow: 0px -1px 8px 0px rgba(0, 0, 0, 0.15), 0px -1px 0px 0px rgba(0, 0, 0, 0.15), 0px -1px 0px 0px rgb(255, 255, 255);
    box-shadow: 0px -1px 8px 0px rgba(0, 0, 0, 0.15), 0px -1px 0px 0px rgba(0, 0, 0, 0.15), 0px -1px 0px 0px rgb(255, 255, 255);

    .progress {
        height: 10px;
        margin-bottom: 0px;
        border-radius: 30px;
        border-style: inset;
        border: 1px rgba(0, 0, 0, 0.6);
        background: -webkit-linear-gradient(rgb(220, 220, 220), rgb(229, 229, 229));
        background: -o-linear-gradient(rgb(220, 220, 220), rgb(229, 229, 229));
        background: -moz-linear-gradient(rgb(220, 220, 220), rgb(229, 229, 229));
        background: linear-gradient(rgb(220, 220, 220), rgb(229, 229, 229));
    }
    .progress-bar-warning {
        border-radius: 30px;
        background-size: 15px 15px;
        background-color: rgb(0, 173, 238);
        background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
        background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
        background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    }
    .ceb-question-status {
        color: rgb(0, 173, 238);
        margin: -5px auto;
        margin-left: 10px;
        font-family: 'proxima_semibold';
    }
    .row>div {
        padding: 0px;
    }
}


/*-------------------------------------------------
SMACSS: LAYOUT - HEADER
-------------------------------------------------*/

header {
    border-top: 2px solid $color-red;
    padding: 10px;
    color: $color-red;
    .title {
        font-size: em(30); // em to px convertor
    }
    .caption {
        padding-top: 10px;
        font-size: 14px;
    }
}

.navbar {
    border-radius: 0px;
}


/*-------------------------------------------------
SMACSS: LAYOUT - SECTION
-------------------------------------------------*/


/*-------------------------------------------------
SMACSS: LAYOUT - FOOTER
-------------------------------------------------*/

footer {
    color: $color-gray;
    font-size: 11px;
    text-align: center;
    padding: 10px;
    width: 100%;
}
