<!-- ****************
Question page VIEW
 **************** -->
<div ng-controller="questionController as ques">
    <div class="timer-bar">
        <uib-progressbar value="ques.percent">
            <span class="sr-only">Split button!</span>
        </uib-progressbar>
    </div>
    <!--  timer -->
    <table class="time">
        <tr>
            <td></td>
            <td class="fix"> <span><img src="/images/timerClock.png" alt="Clock icon"> {{ques.display}}</span> </td>
            <td></td>
        </tr>
    </table>
    <div class="container instructions">
        <div class="row">
            <div class="col-sm-offset-2  col-sm-8 col-md-offset-3  col-md-6">
                <div class="btn-tab-group">
                    <h1 class="section-heading">INFORMATION</h1>
                    <div class="btn-group btn-group-justified">
                        <a href="#" class="btn btn-tab" ng-class="{'active': ques.tab}" ng-click="ques.tab = true">Retail Promotion Inquiry</a>
                        <a href="#" class="btn  btn-tab" ng-class="{'active': !ques.tab}" ng-click="ques.tab = false">Past Transactions</a>
                    </div>
                </div>
                <div class="table-responsive" ng-if="ques.tab">
                    <table class="table ceb-table">
                        <tbody>
                            <tr>
                                <td>Discount Starting Date</td>
                                <td>06/01/2007</td>
                            </tr>
                            <tr>
                                <td>Cash-Back Bonus Starting Date</td>
                                <td>06/01/2007</td>
                            </tr>
                            <tr>
                                <td>Today’s Date</td>
                                <td>07/21/2007</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table ceb-table">
                        <thead>
                            <tr>
                                <th colspan="2">Terms for Retailer Discount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Length of program</td>
                                <td>60 days</td>
                            </tr>
                            <tr>
                                <td>Minimum required purchase</td>
                                <td>$200.00</td>
                            </tr>
                            <tr>
                                <td>Retail discount rate</td>
                                <td>0.5%</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table ceb-table">
                        <thead>
                            <tr>
                                <th colspan="2">Terms for Retailer Cash-Back Bonus</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Length of program</td>
                                <td>60 days</td>
                            </tr>
                            <tr>
                                <td>Minimum required purchase</td>
                                <td>$100.00</td>
                            </tr>
                            <tr>
                                <td>Retail discount rate</td>
                                <td>0.25%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive" ng-if="!ques.tab">
                    <table class="table ceb-table">
                        <tbody>
                            <tr>
                                <td>Discount Starting Date</td>
                                <td>06/01/2007</td>
                            </tr>
                            <tr>
                                <td>Cash-Back Bonus Starting Date</td>
                                <td>06/01/2007</td>
                            </tr>
                            <tr>
                                <td>Today’s Date</td>
                                <td>07/21/2007</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table ceb-table">
                        <thead>
                            <tr>
                                <th colspan="2">Terms for Retailer Cash-Back Bonus</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Length of program</td>
                                <td>60 days</td>
                            </tr>
                            <tr>
                                <td>Minimum required purchase</td>
                                <td>$100.00</td>
                            </tr>
                            <tr>
                                <td>Retail discount rate</td>
                                <td>0.25%</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table ceb-table">
                        <thead>
                            <tr>
                                <th colspan="2">Terms for Retailer Discount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Length of program</td>
                                <td>60 days</td>
                            </tr>
                            <tr>
                                <td>Minimum required purchase</td>
                                <td>$200.00</td>
                            </tr>
                            <tr>
                                <td>Retail discount rate</td>
                                <td>0.5%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- container -->
    <div class="white-div">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-2  col-sm-8 col-md-offset-3  col-md-6">
                    <div class="question-heading-group">
                        <h1 class="section-heading question">QUESTION</h1>
                        <p class="ceb-question">What is the minimum required purchase for a Retailer Discount?</p>
                    </div>
                    <div class="row">
                        <div class="options-margin" ng-repeat="option in ques.test.options">
                            <div class="ceb-options" ng-class="{'active': ques.answer == option}" ng-click="ques.answer = option">
                                <span class="sr-only">Option {{$index+1}} {{option}}</span>
                                <span>{{option}}</span>
                                <input class="pull-right" type="radio" name="optradio" ng-model="ques.answer" ng-value="option">
                                <label>
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12 options-margin">
                            <button class="btn btn-ceb">NEXT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bottom-div -->
    <div class="ceb-question-progressbar
">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
                    <span class="ceb-progress-dot active"></span>
                    <span class="ceb-progress-dot active"></span>
                    <span class="ceb-progress-dot active"></span>
                    <span class="ceb-question-status pull-right">12 of 20</span>
                    <span class="ceb-progress-dot margin-left-10 pull-right"></span>
                    <uib-progressbar class="progress-striped" value="22" type="warning"></uib-progressbar>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- questions controler  -->
