<!-- ****************
Question page VIEW
 **************** -->
<div ng-controller="questionController as ques">
    <div class="timer-bar">
        <uib-progressbar value="ques.percent">
            <span class="sr-only">Split button!</span>
        </uib-progressbar>
    </div>
    <!--  timer -->
    <table class="time" ng-click="ques.closeOptions()">
        <tr>
            <td></td>
            <td class="fix"> <span><img src="/images/timerClock.png" alt="Clock icon"> {{ques.display}}</span> </td>
            <td></td>
        </tr>
    </table>
    <div class="container instructions" ng-class="{'fadein': ques.open}" ng-click="ques.closeOptions()">
        <div class="row">
            <div class="col-sm-offset-2  col-sm-8 col-md-offset-3  col-md-6">
                <label class="section-heading">INFORMATION</label>
                <div class="btn-group btn-group-justified">
                    <a href="#" class="btn btn-tab" ng-class="{'active': ques.tab}" ng-click="ques.tab = true">Retail Promotion Inquiry</a>
                    <a href="#" class="btn  btn-tab" ng-class="{'active': !ques.tab}" ng-click="ques.tab = false">Past Transactions</a>
                </div>
                <div class="table-responsive" ng-if="ques.tab">
                    <table class="table ceb-table">
                        <tbody>
                            <tr>
                                <td>Discount Starting Date</td>
                                <td>06/01/2007</td>
                            </tr>
                            <tr>
                                <td>Cash-Back Bonus Starting Date</td>
                                <td>06/01/2007</td>
                            </tr>
                            <tr>
                                <td>Today’s Date</td>
                                <td>07/21/2007</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table ceb-table">
                        <thead>
                            <tr>
                                <th colspan="2">Terms for Retailer Discount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Length of program</td>
                                <td>60 days</td>
                            </tr>
                            <tr>
                                <td>Minimum required purchase</td>
                                <td>$200.00</td>
                            </tr>
                            <tr>
                                <td>Retail discount rate</td>
                                <td>0.5%</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table ceb-table">
                        <thead>
                            <tr>
                                <th colspan="2">Terms for Retailer Cash-Back Bonus</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Length of program</td>
                                <td>60 days</td>
                            </tr>
                            <tr>
                                <td>Minimum required purchase</td>
                                <td>$100.00</td>
                            </tr>
                            <tr>
                                <td>Retail discount rate</td>
                                <td>0.25%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive" ng-if="!ques.tab">
                    <table class="table ceb-table">
                        <tbody>
                            <tr>
                                <td>Discount Starting Date</td>
                                <td>06/01/2007</td>
                            </tr>
                            <tr>
                                <td>Cash-Back Bonus Starting Date</td>
                                <td>06/01/2007</td>
                            </tr>
                            <tr>
                                <td>Today’s Date</td>
                                <td>07/21/2007</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table ceb-table">
                        <thead>
                            <tr>
                                <th colspan="2">Terms for Retailer Cash-Back Bonus</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Length of program</td>
                                <td>60 days</td>
                            </tr>
                            <tr>
                                <td>Minimum required purchase</td>
                                <td>$100.00</td>
                            </tr>
                            <tr>
                                <td>Retail discount rate</td>
                                <td>0.25%</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table ceb-table">
                        <thead>
                            <tr>
                                <th colspan="2">Terms for Retailer Discount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Length of program</td>
                                <td>60 days</td>
                            </tr>
                            <tr>
                                <td>Minimum required purchase</td>
                                <td>$200.00</td>
                            </tr>
                            <tr>
                                <td>Retail discount rate</td>
                                <td>0.5%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- container -->
    <div class="bottom-div" ng-class="{'open': ques.open}" ng-click="ques.open ||ques.openOptions()">
        <div class="text-center slider-div-up" ng-if="!ques.open">
            <span class="slider-btn-up"> <span class="glyphicon glyphicon-triangle-top"></span> Tap for answers</span>
        </div>
        <div class="text-center slider-div-down" ng-if="ques.open" ng-click="ques.closeOptions();$event.stopPropagation();">
            <span class="slider-btn-down"> <span class="glyphicon glyphicon-triangle-bottom"></span> Tap for information</span>
        </div>
        <div class="container ceb-question-container">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6">
                    <label class="section-heading">QUESTION</label>
                    <p class="ceb-question">What is the minimum required purchase for a Retailer Discount?</p>
                    <div class="row">
                        <div class="col-xs-6 options-margin" ng-repeat="option in ques.test.options">
                            <div class="ceb-options" ng-class="{'active': ques.answer == option}" ng-click="ques.answer = option">
                                <span class="sr-only">Option {{$index+1}} {{option}}</span>
                                <span>{{option}}</span>
                                <input class="pull-right" type="radio" name="optradio" ng-model="ques.answer" ng-value="option">
                                <label>
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12 options-margin">
                            <button class="btn btn-ceb">NEXT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  <div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
    <span class="sr-only">40% Complete (success)</span>
  </div>
</div> -->
    </div>
    <!-- bottom-div -->
    <div class="ceb-question-progressbar">
    <span class="ceb-progress-dot"></span>
    <span class="ceb-progress-dot"></span>
    <span class="ceb-progress-dot"></span> 
    <span class="ceb-question-status  pull-right">12 of 20</span>
    <span class="ceb-progress-dot margin-left-10    pull-right" ></span> 

        <uib-progressbar class="progress-striped" value="22" type="warning"></uib-progressbar>
   
    </div>
</div>
<!-- questions controler  -->
